[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "familiar"]
	path = familiar
	url = https://github.com/alexzwanenburg/familiar
